<div class="mainPage" ng-controller="navigationCtrl">
	<div id="loginForm" class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui image header">
				<div class="content">Log-in to your account</div>
			</h2>
			<form role="form" ng-submit="login()" class="ui large form">
				<div class="ui stacked secondary  segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i> <input type="text" name="email" placeholder="E-mail address" id="email"
								ng-model="credentials.email">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="password" placeholder="Password" id="password"
								ng-model="credentials.password">
						</div>
					</div>
					<button class="ui fluid medium blue submit button" type="submit" class="btn btn-primary">Login</button>
				</div>
				<div class="ui error message"></div>
			</form>

			<div class="ui message">
				New to us? <a href="" ng-click="go('register')">Register</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.ui.form').form({
			fields : {
				email : {
					identifier : 'email',
					rules : [ {
						type : 'empty',
						prompt : 'Please enter your e-mail'
					}, {
						type : 'email',
						prompt : 'Please enter a valid e-mail'
					} ]
				},
				password : {
					identifier : 'password',
					rules : [ {
						type : 'empty',
						prompt : 'Please enter your password'
					}, {
						type : 'length[4]',
						prompt : 'Your password must be at least 6 characters'
					} ]
				}
			}
		});
	});
</script>