<div id="navigationMenu">
	<ul>
		<li><a href="" ng-click="logout()"><img src="../images/logout.png" title="Logout"></a></li>
		<li><a href='#'><img src="../images/contact.png" title="Contact"></a></li>
		<li><a href='#'><img src="../images/account.png" title="Account"></a></li>
		<li class='active'><a href='#'><img src="../images/home.png" title="Home page"></a></li>
	</ul>
</div>

<div id="content">
	<div id="sidebar">
		<div class="nav-container">
			<ul class="nav">
				<li class="active"><a href="#"><img src="../images/training.png"> <span class="text">Trainings</span>
				</a></li>
				<li><a href="#"><img src="../images/statistics.png"> <span class="text">Statistics</span> </a></li>
			</ul>
		</div>
	</div>
	<div id="mainDiv" ng-controller="trainingCtrl">
		<div id="datetimePickerContainer">
			<label>Choose Date</label>
			<div class='input-group date' id='datetimePicker'>
				<input type='text' class="form-control" /> <span class="input-group-addon"> <span
					class="glyphicon glyphicon-calendar"></span>
				</span>

			</div>
			</br>
			<button type="submit" class="btn btn-primary" id="addTraining" ng-click="addTraining()">Add new training</button>
		</div>

		<table ng-show="authenticated" ng-repeat="training in trainings" class="responstable">
			<tr>
				<th>Exercise</th>
				<th>Repeats</th>
				<th>Duration (minutes)</th>
				<th><button type="button" class="btn btn-danger btn-sm" ng-click="removeTraining(training.id)">Remove training</button></th>
			</tr>
			<tr ng-repeat="exercise in training.exercises">
				<td>{{exercise.repeats}}</td>
				<td>{{exercise.exerciseType.name}}</td>
				<td>{{exercise.duration}}</td>
				<td><button type="button" class="btn btn-warning btn-xs">Edit</button>
					<button type="button" class="btn btn-danger btn-xs" ng-click="removeExercise(exercise.id)">Remove</button>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><button type="submit" class="btn btn-primary btn-sm" id="addExercise" data-toggle="modal"
						data-target="#myModalNorm">Add new exercise</button></td>
			</tr>
		</table>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>

				<!-- Modal Body -->
				<div class="modal-body">

					<form role="form">
						<div class="form-group">
							<label>Exercise type</label> <input type="text" class="form-control" id="exerciseType" />
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Repeats</label> <input type="password" class="form-control"
								id="exampleInputPassword1" placeholder="Password" />
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>


				</div>

				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	$(function() {
		$('#datetimePicker').datepicker();
	});
</script>