<table id="trainingTable" ng-repeat="training in trainings" class="ui celled selectable right aligned table">
	<thead>
		<tr>
			<th>Exercise</th>
			<th>Repeats</th>
			<th>Duration (minutes)</th>
			<th><button type="button" class="btn btn-danger btn-sm" ng-click="removeTraining(training.id)">Remove
					training</button></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="exercise in training.exercises">
			<td>{{exercise.exerciseType.name}}</td>
			<td>{{exercise.repeats}}</td>
			<td>{{exercise.duration}}</td>
			<td><button type="button" class="btn btn-warning btn-xs">Edit</button>
				<button type="button" class="btn btn-danger btn-xs" ng-click="removeExercise(exercise.id)">Remove</button></td>
		</tr>
	</tbody>
	<tfoot class="full-width">
		<tr>
			<th></th>
			<th colspan="4">
				<div ng-click="addExercise(training.id)" class="ui right floated small primary labeled icon button addExercise">
					<i class="plus icon"></i>Exercise
				</div>
			</th>
		</tr>
	</tfoot>
</table>